# Copyright 2021, Proofcraft Pty Ltd
#
# SPDX-License-Identifier: BSD-2-Clause

# Deploy default.xml to rumprun-sel4-demoapps after successful runs.

name: Hello World

on:
  push:
    branches: [master]
    paths-ignore:
      - 'default.xml' # avoid loop when deploying to default.xml

  # allow manual trigger
  workflow_dispatch:

  # allow explict trigger from other repos when dependencies have changed
  repository_dispatch:
    types: [deps-update]

jobs:
  code:
    name: Freeze Code
    runs-on: ubuntu-latest
    outputs:
      xml: ${{ steps.repo.outputs.xml }}
    steps:
    - id: repo
      uses: seL4/ci-actions/repo-checkout@master
      with:
        manifest_repo: rumprun-sel4-demoapps
        manifest: master.xml

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: code
    strategy:
      fail-fast: false
      matrix:
        req: [sim, haswell3]
    steps:
    - name: Build
      uses: seL4/ci-actions/rump-hello@master
      with:
        xml: ${{ needs.code.outputs.xml }}
        req: ${{ matrix.req }}
    - name: Upload images
      if: ${{ matrix.req != 'sim' }}
      uses: actions/upload-artifact@v3
      with:
        name: images-${{ matrix.req }}
        path: '*-images.tar.gz'

  hw-run:
    name: Hardware Run
    if: ${{ github.repository_owner == 'seL4' }}
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        req: [haswell3]
    # do not run concurrently with other workflows, but do run concurrently in the build matrix
    concurrency: rumprun-hw-${{ strategy.job-index }}
    steps:
      - name: Get machine queue
        uses: actions/checkout@v4
        with:
          repository: seL4/machine_queue
          path: machine_queue
          token: ${{ secrets.PRIV_REPO_TOKEN }}
      - name: Download image
        uses: actions/download-artifact@v4.1.7
        with:
          name: images-${{ matrix.req }}
      - name: Run
        uses: seL4/ci-actions/rump-hello-hw@master
        with:
          req: ${{ matrix.req }}
          index: $${{ strategy.job-index }}
        env:
          HW_SSH: ${{ secrets.HW_SSH }}

  deploy:
    name: Deploy manifest
    if: ${{ github.repository_owner == 'seL4' }}
    runs-on: ubuntu-latest
    needs: [code, hw-run]
    steps:
    - name: Deploy
      uses: seL4/ci-actions/manifest-deploy@master
      with:
        xml: ${{ needs.code.outputs.xml }}
        manifest_repo: rumprun-sel4-demoapps
      env:
        GH_SSH: ${{ secrets.CI_SSH }}
